@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --main-background: #0b0c0f;
    --main-fonts-color: #fff;
    --main-decor-color: #59c2ff;
    --main-header-background: #21252e;
    --main-font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--main-background);
}




header {
    margin: 0 auto;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 5;
}

.nav-show {
    opacity: 0;
}

header:hover {
    opacity: 1;
    background: var(--main-header-background);
}

.logo img {
    padding-top: 5px;
    height: 50px;
    cursor: pointer;
}

.nav-bar {
    list-style: none;
    position: relative;
    display: inline-flex;
}

a.nav-link {
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family);
    cursor: pointer;
    text-transform: uppercase;
}

.active {
    background: var(--main-decor-color);
}

.nav-link:hover {
    color: #000000;
    background: var(--main-decor-color);
}




.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translatex(50px);
    }
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}



@media only screen and (max-width: 1484px) and (min-width: 1214px) {
    .work {
        padding: 20px 20%;
    }
}

@media only screen and (max-width: 1214px) and (min-width: 1000px) {
    .work {
        padding: 20px 12%;
    }
}

@media only screen and (max-width: 500px) {
    #home,
    #projects,
    #contact {
        overflow-x: hidden;
    }
    header {
        background-color: var(--main-header-background);
    }
    .logo {
        position: absolute;
        top: 2px;
        left: 30px;
    }
    .nav-show {
        opacity: 1;
    }
    .nav-bar {
        position: fixed;
        top: 0px;
        right: 0;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: var(--main-header-background);
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        z-index: -1;
    }
    .hamburger {
        position: absolute;
        top: 17px;
        right: 25%;
        display: block;
        cursor: pointer;
        z-index: 5;
    }
    .nav-bar li {
        opacity: 0;
    }
}

.nav-active {
    transform: translatex(0%);
}
